body{
    margin-top: 15px;
    background-image: url("../img/fondo.jpg");

}
header{
    background: -webkit-linear-gradient(top, #207cca 0%,#29beaf 0%,#606e9c 100%);
}

.navbar navbar-toggleable-md navbar-light{
    background: -webkit-linear-gradient(top, #207cca 0%,#29beaf 0%,#606e9c 100%);
    color: white;
}

.nav-item nav-link{
    color: white;
}

.carousel{
    border-radius: 15px;
}

.carousel-item h2{
    color: white; 
}

.carousel-item .img{
    display: block;
    position: relative;
}

.carousel p{
    font-size: 18px;
}

.recomendaciones{
    margin-top: 30px;
    padding: 5px;
    background-color: #dedede;
    border-radius: 15px;
}

.usuarios{
    margin-top: 30px;
    padding: 5px;
    background-color: #dedede;
    border-radius: 15px;
}

.titulo h3{
    text-align: center;
    color: white;
    font-size: 22px;
}

.titulo{
    background: -webkit-linear-gradient(top, #207cca 0%,#29beaf 0%,#606e9c 100%);
    margin-top: -4px;
    padding: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.materia{
    background: white;
    margin: 15px;
    border-radius: 15px;
}

.materia img{
    margin:15px 15px 15px 15px;
}

.materia p{
    font-size: 15px;
}

.usuarios img{
    margin:15px 5px 15px 15px;
}

.flex-container {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    }